* {
    font-family: Arial, Helvetica, sans-serif;
}


.main_img {
    width: 200px;
    float: left;
    margin-right: 5px;
}

nav {
    border-bottom: 1px solid #000;
    padding-bottom: 6px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 2px;
}

nav a:hover {
    color: #00c3ff;
    text-shadow: 2px 2px 5px rgb(206, 206, 206);
    transition: 0.2s;
}

.disabled:hover {
    color: #000;
}



