* {
    font-family: Arial, Helvetica, sans-serif;
}

.main_img {
    width: 200px;
    float: left;
    margin-right: 5px;
}

.header {
    background-color: #303846;
    padding: 10px;
    
    border-radius: 0;
    
    width: 100%;
    text-align: center; 
}

.header h1 {
    font-size: 30px;
    color: #fff;
}

.header h2 {
    font-size: 23px;
    color: #c7c7c7;
}

nav {
    background-color: #303846;
  
    border-radius: 0;
   
    width: 100%;
    padding-bottom: 6px;
    font-size: 19px;
    color: #c7c7c7;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #c7c7c7;
    margin-right: 3px;
    padding: 2px;
}

nav a:hover {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(206, 206, 206);
    transition: 0.2s;
}

.disabled:hover {
    color: #ffffff;
}

.cont {
    text-align: center;
}

.item {
    display: inline-block;
    text-align: center;
    margin: 15px;
    background-color: #303846;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

.item h3 {
    color: #c7c7c7;
}

.item2 {
    display: inline-block;
    text-align: center;
    margin: 15px;
    background-color: #edf1fc;
    border-left: 10px solid #303846;
    border-top: 2px solid #303846;
    padding: 10px;
    color: #303846;
    border-radius: 10px;
}
